<md-dialog aria-label="Mango (Fruit)"  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Movie Title</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          X
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
      	<img style="margin: auto; max-width: 100%;" alt="Lush mango tree" src="http://static5.gamespot.com/uploads/scale_large/104/1049837/2891179-batman-arkham_knight-review_nologo_20150618.jpg">
       <p>
            <b>Year: </b> 2008
          </p>
          <p>
            <b>Genre: </b> Genre
          </p>
          <p>
            <b>Director: </b> Nolan
          </p>
          <p>
            <b>Actors: </b> Bale
          </p>
          <p>
            <b>Plot: </b> Test Plot
          </p>
      </div>
    </md-dialog-content>
  </form>
</md-dialog>